.page, .page-in, .page-out, .page-in-rev, .page-out-rev{
    height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
}

.page-in {
    animation: 300ms in forwards;
}

.page-out {
    animation: 300ms out forwards;
}

.page-out-rev {
    animation: 300ms revout forwards;
}

.page-in-rev {
    animation: 300ms revin forwards;
}

@keyframes in {
    from {
        transform: translate(100%, 0);
    }

    to {
        transform: translate(0px, 0px);
    }
}

@keyframes out {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: translate(-100%, 0);
    }
}

@keyframes revin {
    from {
        transform: translate(-100%, 0);
    }

    to {
        transform: translate(0px, 0px);
    }
}

@keyframes revout {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: translate(100%, 0);
    }
}