html, body {
    height:  100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    -webkit-tap-highlight-color: transparent;
}

* {
    -webkit-tap-highlight-color: transparent;
}